[Unit]
Description=Semillas de Ti Astro service
After=network.target

[Service]
Type=simple
User=semillasdeti
Group=semillasdeti
WorkingDirectory=/var/www/semillasdeti
Environment=PORT=4173
Environment=NODE_ENV=production
Environment=HOST=172.17.0.1
EnvironmentFile=/etc/semillasdeti.env
ExecStart=/usr/bin/env node server/entry.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
